<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js" type="text/javascript" charset="utf-8">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>

<div id="nav">
  <h3 style="color: #ff4040"><a href="/" style="text-decoration: none"><img width="24" height="24" src="sango.svg">Sangobox</a></h3> Online compiler (<a href="https://github.com/h2so5/sango">github</a>)
  <h3>Language</h3>
  <input id="langsearch" type="text" placeholder="Search...">
  <ul id="lang">
    {{ range .images }}
    <li data-id="{{ .ID }}" data-ext="{{ (index .Extensions 0) }}" data-lang="{{ .Language }}" data-name="{{ .Name }}" data-ver="{{ .Version }}" data-mode="{{ .AceMode }}"><a href="javascript:void(0)">{{ .Name }}<p>{{ .Version }}</p></a>
    </li>
    {{ end }}
  </ul>
</div>

<div id="content">
  <h3>Code</h3>
  <div id="code-editor-div"></div>

  <h3>Stdin</h3>
  <div id="stdin-editor-div"></div>

  <div id="command">
    <button id="run-bt">Run (Ctrl+Enter)</button>
    <button id="run-fmt">Format (Ctrl+Shift+F)</button>
    {{ range .images }}
      <span class="options" data-id="{{ .ID }}">
        {{ $options := .Options }}
        {{ range $key, $value := $options }}
          <label for="{{$key}}">{{ $value.Title }}</label>
          {{ if eq .Type "bool" }}
            {{ $checked := "" }}
            {{if eq (html .Default) "true"}}
              {{ $checked := "checked" }}
            {{end}}
              <input type="checkbox" name="{{$key}}" {{$checked}}>
          {{ else if eq .Type "list" }}
            <select name="{{$key}}">
              {{ range .Candidates }}
                <option val="{{.}}">{{.}}</option>
              {{ end }}
            </select>
          {{ end }}
        {{ end }}
      </span>
    {{ end }}
  </div>

  <div id="output">
    <div id="share">
      <span id="tweet"></span>
    </div>
    <pre class="output strong" id="status"></pre>
    <pre class="output" id="msg"></pre>
  </div>
</div>

<script>
  $(function() {
    var current_id = '';
    var edited = false;
    var running = false;

    var code_editor = ace.edit("code-editor-div");
    var stdin_editor = ace.edit("stdin-editor-div");

    code_editor.setShowPrintMargin(false);
    stdin_editor.setShowPrintMargin(false);

    code_editor.getSession().on('change', function(e) {
      edited = true;
    });

    function applyData(data, input) {
      var result = data.output["status"] + "  (Exit code: " + data.output["code"] + ")";
      if (data.output["running-time"] > 0) {
        result += "  " + data.output["running-time"].toFixed(4) + " sec";
      }
      $('#status').text(result);
      var mixed = data.output["mixed-output"];
      $('#msg').text('');
      for (var i = 0; i < mixed.length; i++) {
        $('#msg').text($('#msg').text() + mixed[i].data);
      }

      if (input) {
        for (var f in data.input.files) {
          code_editor.getSession().setValue(data.input.files[f]);
        }
        stdin_editor.getSession().setValue(data.input.stdin);
      }

      $options = $('.options[data-id=' + data.environment.id + ']');
      var options = data.input.options;

      if (options) {
        for (var key in options) {
          var o = options[key];
          $options.find('[name=' + key + ']').each(function(){
            var type = $(this).attr('type');
            if (type == "checkbox") {
              $(this).prop('checked', o);
            } else if ($(this)[0].tagName == 'SELECT') {
              $(this).val(o);
            }
          })
        }
      }
    }

    function share(id) {
      var url = "http://" + location.host + "/" + id;
      $('#share').show();
      $('#tweet').empty()
        .append('<a href="https://twitter.com/share" class="twitter-share-button" data-url="' + url + '" data-count="none" data-dnt="true">Tweet</a>')
      $.getScript("http://platform.twitter.com/widgets.js");
    }

    function format() {
      var code = code_editor.getSession().getValue();
      var files = {};
      var ext = $('#lang li[data-id=' + current_id + ']').attr('data-ext');
      files["main." + ext] = code;
      var data = JSON.stringify({
        "environment": current_id,
        "input": {
          "files": files
        }
      });
      Pace.track(function() {
        $.ajax({
          type: "POST",
          url: '/api/format',
          data: data,
          success: function(data) {
            for (var f in data.files) {
              code_editor.getSession().setValue(data.files[f]);
            }
          },
          error: function() {

          },
          dataType: 'json'
        });
      });
    }

    function run() {
      var code = code_editor.getSession().getValue();
      var stdin = stdin_editor.getSession().getValue();
      if (running || code.trim().length == 0) {
        return;
      }

      var options = {};
      $options = $('.options[data-id=' + current_id + ']');
      $options.find('input[type=checkbox]').each(function(){
        options[$(this).attr("name")] = $(this).prop('checked');
      });
      $options.find('select').each(function(){
        options[$(this).attr("name")] = $(this).val();
      });

      running = true;
      var files = {};
      var ext = $('#lang li[data-id=' + current_id + ']').attr('data-ext');
      files["main." + ext] = code;
      var data = JSON.stringify({
        "environment": current_id,
        "input": {
          "files": files,
          "stdin": stdin,
          "options": options
        }
      });

      $('#status').text('Running...');
      $('#msg').text('');

      if ("WebSocket" in window) {
        var sock = new WebSocket('ws://' + location.host + '/api/run/stream');
        sock.onopen = function() {
          sock.send(data);
          sock.onmessage = function(res) {
            try {
              var data = JSON.parse(res.data);
              switch (data.tag) {
                case "result":
                  applyData(data.data, false);
                  Pace.stop();
                  sock.close();
                  running = false;
                  window.history.pushState(null, "", "/" + data.data.id);
                  share(data.data.id);
                  break;
              default:
                  $('#msg').text($('#msg').text() + data.data);
                  break;
              }
            } catch (e) {
              console.log(e, res.data);
            }
          }
        };
      } else {
        Pace.track(function() {
          $.ajax({
            type: "POST",
            url: '/api/run',
            data: data,
            success: function(data) {
              applyData(data, false);
              window.history.pushState(null, "", "/" + data.id);
              share(data.id);
              running = false;
            },
            error: function() {
              running = false;
            },
            dataType: 'json'
          });
        });
      }
    }

    $('#run-bt').click(run);
    $('#run-fmt').click(format);

    code_editor.commands.addCommand({
      name: "run",
      bindKey: {
        win: "Ctrl-Enter",
        mac: "Command-Enter"
      },
      exec: run
    });

    code_editor.commands.addCommand({
      name: "format",
      bindKey: {
        win: "Ctrl-Shift-F",
        mac: "Command-Shift-F"
      },
      exec: format
    });

    stdin_editor.commands.addCommand({
      name: "run",
      bindKey: {
        win: "Ctrl-Enter",
        mac: "Command-Enter"
      },
      exec: run
    });

    stdin_editor.commands.addCommand({
      name: "format",
      bindKey: {
        win: "Ctrl-Shift-F",
        mac: "Command-Shift-F"
      },
      exec: format
    });

    Mousetrap.bind('ctrl+enter', function(e) {
      run();
      return false;
    });

    Mousetrap.bind('ctrl+shift+f', function(e) {
      format();
      return false;
    });

    var logid = '{{ .logid }}';
    if (logid.length > 0) {
      $.get('/api/log/' + logid, {},
        function(data) {
          applyData(data, true);
          selectLang(data.environment.id, true);
          share(logid);
          edited = false;
        },
        'json');
    } else {
      var last = localStorage["last_id"];
      if (!selectLang(last, true)) {
        selectLang('go-latest', true);
      }
    }

    $('#lang li').click(function() {
      selectLang($(this).attr('data-id'), false);
    });

    $('#langsearch').keyup(function(){
      var s = $(this).val().trim().toLowerCase();
      if (s == '') {
        $('#lang li').show();
      } else {
        $('#lang li').each(function(){
          var b = ($(this).attr('data-name').toLowerCase().indexOf(s) != -1 ||
            $(this).attr('data-ver').toLowerCase().indexOf(s) != -1);
          $(this).toggle(b);
        });
      }
    })

    function selectLang(id, sort) {
      $li = $('#lang li[data-id=' + id + ']');
      if ($li.length > 0) {
        if (sort) {
          $('#lang').prepend($li.detach());
        }

        $('#lang li').removeClass('selected');
        $li.addClass('selected');

        $('.options').hide();
        $('.options[data-id=' + id + ']').show();

        var lang = $li.attr('data-lang');
        var mode = $li.attr('data-mode');
        localStorage["last_id"] = id;

        $.getScript('https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-' + mode + '.js',
          function(){
            code_editor.getSession().setMode('ace/mode/' + mode);
            code_editor.renderer.updateFull();
        });

        current_id = id;
        if (!edited) {
          $.get('/template/' + id, {},
            function(data) {
              code_editor.getSession().setValue(data);
              code_editor.find('@cursor@');
              code_editor.replace('');
              code_editor.focus();
              edited = false;
            });
        }
        return true;
      } else {
        return false;
      }
    }

  });
</script>
